body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 600px;
}

input[type=text], input[type=number], input[type=date] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #eee;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

button {
  margin-left: 10px;
  background-color: #d9534f;
}

button:hover {
  background-color: #c9302c;
}